<?xml version="1.0"?>
<config>
    <modules>
       <Orba_Lekkikoszyk>
          <version>0.1.3</version>
       </Orba_Lekkikoszyk>
    </modules>
    <frontend>
        <routers>
            <lekkikoszyk>
                <use>standard</use>
                <args>
                    <module>Orba_Lekkikoszyk</module>
                    <frontName>lekkikoszyk</frontName>
                </args>
            </lekkikoszyk>
        </routers>
        <layout>
            <updates>
                <lekkikoszyk>
                    <file>lekkikoszyk.xml</file>
                </lekkikoszyk>
            </updates>
        </layout>
        <translate>
            <modules>
                <Orba_Lekkikoszyk>
                    <files>
                        <default>Orba_Lekkikoszyk.csv</default>
                    </files>
                </Orba_Lekkikoszyk>
            </modules>
        </translate>
    </frontend>  
    <global>
        <blocks>
            <lekkikoszyk>
                <class>Orba_Lekkikoszyk_Block</class>
            </lekkikoszyk>
        </blocks>
        <models>
            <lekkikoszyk>
                <class>Orba_Lekkikoszyk_Model</class>
                <resourceModel>lekkikoszyk_mysql4</resourceModel>
            </lekkikoszyk>
            <lekkikoszyk_mysql4>
				<class>Orba_Lekkikoszyk_Model_Mysql4</class>
            </lekkikoszyk_mysql4>
        </models>
        <resources>
            <lekkikoszyk_setup>
                <setup>
                    <module>Orba_Lekkikoszyk</module>
                    <class>Orba_Lekkikoszyk_Model_Mysql4_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </lekkikoszyk_setup>
            <lekkikoszyk_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </lekkikoszyk_write>
            <lekkikoszyk_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </lekkikoszyk_read>
        </resources>
        <helpers>
            <lekkikoszyk>
                <class>Orba_Lekkikoszyk_Helper</class>
            </lekkikoszyk>
        </helpers>
    </global>
    <default>
        <lekkikoszyk>
            <attr_other>
                <Producent>manufacturer</Producent>
            </attr_other>
        </lekkikoszyk>
    </default>
    <adminhtml>
        <translate>
            <modules>
                <Orba_Lekkikoszyk>
                    <files>
                        <default>Orba_Lekkikoszyk.csv</default>
                    </files>
                </Orba_Lekkikoszyk>
            </modules>
        </translate>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <lekkikoszyk>
                                            <title>ORBA | LekkiKoszyk.pl</title>
                                        </lekkikoszyk>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
        <layout>
            <updates>
                <lekkikoszyk>
                    <file>lekkikoszyk.xml</file>
                </lekkikoszyk>
            </updates>
        </layout>
    </adminhtml>
    <admin>
        <routers>
            <lekkikoszyk>
                <use>admin</use>
                <args>
                    <module>Orba_Lekkikoszyk</module>
                    <frontName>lekkikoszyk</frontName>
                </args>
            </lekkikoszyk>
        </routers>
    </admin>
</config>
